@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open-Sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open-Sans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open-Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/Proxima-Nova/ProximaNovaSemibold.otf") format("opentype");
}

.chat {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  background-color: #ffffff;
}

.chat__sidebar {
  min-width: 336px;
  border-right: 1px solid #e5e5e5;
}

.chat__sidebar .sidebar__header {
  background-color: #4d75a3;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  height: 95px;
  background-color: #ffffff;
}

.chat__sidebar .sidebar__header .sidebar__header_title h2 {
  font-size: 16px;
  color: #667a90;
}

.chat__sidebar .sidebar__header .sidebar__header_actions {
  display: inline-flex;
  flex-wrap: nowrap;
}

.chat__sidebar .sidebar__header .sidebar__header_actions a {
  color: #a6bad1;
  margin: 0 5px;
  font-size: 16px;
}

.chat__sidebar .sidebar__list {
  max-height: 721px;
  overflow: auto;
  position: relative;
}

.chat__sidebar .sidebar__list .gradient {
  position: absolute;
  bottom: 0;
  z-index: 550;
  width: 100%;
  height: 27px;
  background-image: linear-gradient(to top, white 0%, transparent 100%);
}

.chat__sidebar .sidebar__list .follow__user {
  padding: 20px;
  border-bottom: 1px solid #ededed;
}

.chat__sidebar .sidebar__list .follow__user:hover {
  background-color: #ebf4fa;
  cursor: pointer;
}

.chat__sidebar .sidebar__list .follow__user .user__info {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.chat__sidebar .sidebar__list .follow__user .user__info .user__img {
  margin-right: 10px;
  position: relative;
}

.chat__sidebar .sidebar__list .follow__user .user__info .user__img_online::after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background-color: #00d905;
  border: 3px solid #ebf4fa;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -6px;
}

.chat__sidebar .sidebar__list .follow__user .user__info .user__img_online::after img {
  width: 55px;
  height: 55px;
}

.chat__sidebar .sidebar__list .follow__user .user__info .user__name {
  width: 100%;
  position: relative;
}

.chat__sidebar .sidebar__list .follow__user .user__info .user__name .user__time {
  position: absolute;
  right: 0;
  top: 0;
  color: #b1b1b1;
  font-size: 14px;
  line-height: 24px;
}

.chat__sidebar .sidebar__list .follow__user .user__info .user__name .user__notifi {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 24px;
  height: 24px;
  background-color: rgba(77, 117, 163, 0.75);
  border-radius: 2px;
  font-size: 12px;
  position: absolute;
  bottom: -12px;
  right: 0;
}

.chat__sidebar .sidebar__list .follow__user .user__info .user__name h2 {
  color: #3f4f5f;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 7px;
}

.chat__sidebar .sidebar__list .follow__user .user__info .user__name p {
  color: #667a90;
  font-size: 14px;
}

.chat__sidebar .sidebar__list .follow__user .user__info .user__name p img {
  margin: 0 5px;
  margin-bottom: -5px;
}

.chat__main {
  flex-grow: 1;
}

.chat__main .main__header {
  background-color: #4d75a3;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.65);
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  height: 95px;
}

.chat__main .main__header .header__user {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}

.chat__main .main__header .header__user img {
  margin-right: 10px;
}

.chat__main .main__header .header__user h2 {
  color: #ffffff;
  font-size: 16px;
  font-family: 'OpenSans-SemiBold';
  margin-right: 10px;
}

.chat__main .main__header .header__user h2::after {
  content: '';
  display: inline-block;
  background-color: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 10px;
}

.chat__main .main__header .header__user .user__img {
  width: 55px;
  height: 55px;
  background-image: url("../img/users/photo.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.chat__main .main__header .header__user .user__name h2 {
  color: #3f4f5f;
  font-size: 16px;
  margin-bottom: 5px;
}

.chat__main .main__header .header__user .user__name p {
  color: #777777;
  font-size: 14px;
}

.chat__main .main__header .header__user .user__name p::before {
  content: '\f10b';
  font-family: 'FontAwesome';
  margin-right: 5px;
}

.chat__main .main__header .header__actions {
  display: inline-flex;
  flex-wrap: nowrap;
}

.chat__main .main__header .header__actions a {
  color: #a6bad1;
  margin: 0 5px;
  font-size: 16px;
}

.chat__main .main__messages {
  padding: 30px 20px;
  max-height: 590px;
  overflow: auto;
}

.chat__main .main__messages .card__mesage {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.chat__main .main__messages .card__mesage .message__text {
  position: relative;
  border-radius: 18px;
  color: #667a90;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 25px;
  display: inline-flex;
  line-height: 22px;
}

.chat__main .main__messages .card__mesage .message__text img {
  margin: 0 5px;
  margin-bottom: -5px;
}

.chat__main .main__messages .card__mesage .message__timestamp {
  margin: 10px 0;
  color: #b1b1b1;
  font-size: 9px;
}

.chat__main .main__messages .message__single {
  display: inline-flex;
  align-items: flex-end;
}

.chat__main .main__messages .message__single .message__avatar {
  margin-right: 10px;
}

.chat__main .main__messages .message__single .message__text {
  max-width: auto;
}

.chat__main .main__messages .message__single .message__text_img {
  display: inline-flex;
  flex-flow: row wrap;
}

.chat__main .main__messages .message__single .message__text_img img {
  margin: 0 5px;
}

.chat__main .main__messages .card__mesage_left .message__text {
  background-color: #f2f4f6;
}

.chat__main .main__messages .card__mesage_left .message__text::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -2px;
  display: block;
  width: 17px;
  height: 17px;
  background: url("../img/messages/tale-left.png");
  background-repeat: no-repeat;
  background-position: center;
}

.chat__main .main__messages .card__mesage_left .message__single {
  max-width: 600px;
}

.chat__main .main__messages .card__mesage_left .message__single .message__avatar {
  margin-right: 10px;
}

.chat__main .main__messages .card__mesage_left .message__timestamp {
  display: inline-block;
  margin-left: 60px;
}

.chat__main .main__messages .card__mesage_right {
  align-items: flex-end;
}

.chat__main .main__messages .card__mesage_right .message__text {
  background-color: #ebf4fa;
}

.chat__main .main__messages .card__mesage_right .message__text::after {
  content: '';
  position: absolute;
  bottom: -5px;
  right: -2px;
  display: block;
  width: 17px;
  height: 17px;
  background: url("../img/messages/tale-right.png");
  background-repeat: no-repeat;
  background-position: center;
}

.chat__main .main__messages .card__mesage_right .message__single {
  max-width: 400px;
  flex-direction: row-reverse;
}

.chat__main .main__messages .card__mesage_right .message__single .message__avatar {
  margin-left: 10px;
}

.chat__main .main__messages .card__mesage_right .message__timestamp {
  display: inline-block;
  margin-right: 60px;
}

.chat__main .main__footer {
  background-color: #f2f4f6;
  border-top: 1px solid #e5e5e5;
}

.chat__main .main__footer .footer__input {
  width: 100%;
  display: inline-flex;
  padding: 24px 18px;
}

.chat__main .main__footer .footer__input .input__box {
  flex-grow: 1;
}

.chat__main .main__footer .footer__input .input__box input {
  width: 100%;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  height: 47px;
  padding: 0 20px;
}

.chat__main .main__footer .footer__input .input__box .box__attachment {
  margin-top: 10px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.chat__main .main__footer .footer__input .input__box .box__attachment .attachment__smiles a {
  color: #a6bad1;
  font-size: 25px;
  margin-right: 7px;
}

.chat__main .main__footer .footer__input .input__box .box__attachment .attachment__smiles a:first-child {
  margin-right: 20px;
}

.chat__main .main__footer .footer__input .input__box .box__attachment .attachment__dropdown span {
  color: #2b587a;
  font-size: 14px;
  cursor: pointer;
}

.chat__main .main__footer .footer__input .input__box .box__attachment .attachment__dropdown span::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid #a2b1c9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 5px;
}

.chat__main .main__footer .footer__input .footer__button {
  border: 0;
  padding: 16px 38px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
  width: 120px;
  height: 47px;
  margin-left: 13px;
  background-color: #4d75a3;
  color: #ffffff;
  font-weight: 600;
  padding: 0;
  border: 0;
}
/*# sourceMappingURL=full.css.map */