@charset "UTF-8";
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open-Sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open-Sans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open-Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/Proxima-Nova/ProximaNovaSemibold.otf") format("opentype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open-Sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open-Sans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open-Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/Proxima-Nova/ProximaNovaSemibold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'OpenSans-Regular', sans-serif;
  box-sizing: border-box;
}

*::before,
*::afterы {
  box-sizing: inherit;
}

body {
  line-height: 1;
  background-color: #e9e8e4;
}

ol, ul {
  list-style: none;
}

::selection {
  color: #000;
  background: #fbd404;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open-Sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open-Sans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open-Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/Proxima-Nova/ProximaNovaSemibold.otf") format("opentype");
}

:root {
  font-size: 18px;
}

body {
  min-width: 320px;
  padding: 30px 15px;
}

h2 {
  font-size: 24px;
  font-family: 'OpenSans-Light';
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1151px;
  margin: 0 auto;
}

.header {
  border-radius: 8px;
  color: #ffffff;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.header__bar {
  height: 75px;
  width: 100%;
  background-color: #4d75a3;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.header__bar .bar__actions {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.header__bar .bar__actions .actions__logo {
  padding: 0 25px;
  border-right: 1px solid #41638a;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.header__bar .bar__actions .actions__logo:hover {
  cursor: pointer;
}

.header__bar .bar__actions .actions__logo .logo_text {
  text-transform: uppercase;
  font-family: 'OpenSans-Bold';
}

.header__bar .bar__actions .actions__notifi, .header__bar .bar__actions .actions__people, .header__bar .bar__actions .actions__messages {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 25px;
  border-right: 1px solid #41638a;
  color: #a2b1c9;
}

.header__bar .bar__actions .actions__notifi:hover, .header__bar .bar__actions .actions__people:hover, .header__bar .bar__actions .actions__messages:hover {
  color: #ffffff;
  cursor: pointer;
}

.header__bar .bar__actions .actions__notifi i {
  position: relative;
}

.header__bar .bar__actions .actions__notifi i::after {
  content: '1';
  font-family: 'OpenSans-Bold';
  z-index: 10;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid #4d75a3;
  background-color: #ff6161;
  border-radius: 3px;
}

.header__bar .bar__actions .actions_active {
  color: #ffffff;
}

.header__bar .bar__user {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.header__bar .bar__user .user__profile, .header__bar .bar__user .user__search, .header__bar .bar__user .user__logout {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 25px;
  color: #a2b1c9;
}

.header__bar .bar__user .user__profile:hover, .header__bar .bar__user .user__search:hover, .header__bar .bar__user .user__logout:hover {
  color: #ffffff;
  cursor: pointer;
}

.header__bar .bar__user .user__profile {
  font-family: 'ProximaNova-Semibold';
  padding-right: 41px;
}

.header__bar .bar__user .user__profile::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid #a2b1c9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.header__bar .bar__user .user__profile:hover::after {
  border-top: 7px solid #ffffff;
}

.header__bar .bar__user .user__profile .user__profile_name {
  font-size: 14px;
  margin-right: 21px;
}

.header__bar .bar__user .user__search {
  border-right: 1px solid #41638a;
  border-left: 1px solid #41638a;
}

.header__bar .bar__user .user__profile.user_active {
  color: #ffffff;
}

.header__bar .bar__user .user__profile.user_active::after {
  border-top: 7px solid #ffffff;
}

.header__nav {
  height: 75px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.header__nav .nav__list {
  display: inline-flex;
  height: 100%;
}

.header__nav .nav__list .list__item {
  font-size: 18px;
  margin: 0 25px;
}

.header__nav .nav__list .list__item a {
  font-family: 'OpenSans-SemiBold';
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  height: 100%;
  color: #97a4b1;
  border-bottom: 5px solid transparent;
}

.header__nav .nav__list .list__item a:hover {
  color: #4d75a3;
  border-bottom: 5px solid #4d75a3;
  font-weight: 600;
}

.user {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 46px 50px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.user__about {
  display: inline-flex;
  align-items: center;
  border-right: 1px solid #e5e5e5;
  padding-right: 28px;
}

.user__about .about__logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user__about .about__props {
  margin-left: 20px;
}

.user__about .about__props .props_name {
  margin-bottom: 10px;
}

.user__about .about__props .props_name span {
  color: #3f4f5f;
  font-size: 24px;
  font-weight: 600;
}

.user__about .about__props .props_text p {
  color: #667a90;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.user__info {
  display: inline-flex;
}

.user__info .info__count {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.user__info .info__count .count_numbers {
  margin-bottom: 10px;
}

.user__info .info__count .count_numbers span {
  font-family: 'OpenSans-SemiBold';
  color: #4d75a3;
  font-size: 24px;
  font-weight: 600;
}

.user__info .info__count .count_text span {
  font-size: 14px;
  font-family: 'OpenSans-SemiBold';
  color: #667a90;
  font-weight: 400;
}

.user__actions {
  display: inline-flex;
  flex-direction: column;
  padding-left: 28px;
}

.user__actions .actions_send {
  border: 0;
  padding: 16px 38px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
  min-width: 201px;
  background-color: white;
  color: #4d75a3;
  border: 2px solid #4d75a3;
  font-weight: 600;
}

.user__actions .actions_send:hover {
  background-color: #4d75a3;
  color: #ffffff;
}

@media (max-width: 1200px) {
  :root {
    font-size: 18px;
  }
  .user {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .user__about {
    flex-basis: 50%;
  }
  .user__actions {
    flex-direction: row;
    padding: 0;
    margin-top: 10px;
  }
  .user__actions .actions_send {
    margin: 10px;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 16px;
  }
  .user {
    padding: 30px 20px;
  }
  .user__about {
    flex-basis: 100%;
    border-right: none;
    justify-content: center;
  }
  .user__info {
    flex-basis: 100%;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  .user {
    padding: 20px;
  }
  .user__info {
    display: flex;
    flex-flow: row wrap;
  }
}

@media (max-width: 520px) {
  :root {
    font-size: 12px;
  }
  .user__about {
    flex-direction: column;
  }
  .user__about .about__props {
    margin: 10px 0;
    text-align: center;
  }
  .user__actions {
    flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */