@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open-Sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open-Sans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open-Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/Proxima-Nova/ProximaNovaSemibold.otf") format("opentype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open-Sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open-Sans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open-Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/Proxima-Nova/ProximaNovaSemibold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'OpenSans-Regular', sans-serif;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1;
  background-color: #e9e8e4;
  min-width: 320px;
  padding: 30px 15px;
}

:root {
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d6d1d1;
}

a {
  text-decoration: none;
}

a:hover, button:hover {
  cursor: pointer;
}

h2 {
  font-size: 24px;
  font-family: 'OpenSans-Light';
}

button, input {
  outline: 0;
}

ol, ul {
  list-style: none;
}

::selection {
  color: #000;
  background: #fbd404;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open-Sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open-Sans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open-Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/Proxima-Nova/ProximaNovaSemibold.otf") format("opentype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open-Sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open-Sans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open-Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/Proxima-Nova/ProximaNovaSemibold.otf") format("opentype");
}

.wrapper {
  max-width: 1151px;
  margin: 0 auto;
}

.header {
  border-radius: 8px;
  color: #ffffff;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 50px;
  margin-bottom: 50px;
}

.header__bar {
  width: 100%;
  background-color: #4d75a3;
  display: inline-flex;
  justify-content: space-between;
}

.header__bar .bar__actions {
  display: inline-flex;
  align-items: center;
}

.header__bar .bar__actions .actions__logo {
  padding: 30px 25px;
  border-right: 1px solid #41638a;
  display: inline-flex;
  align-items: center;
}

.header__bar .bar__actions .actions__logo:hover {
  cursor: pointer;
}

.header__bar .bar__actions .actions__logo .logo_text {
  text-transform: uppercase;
  font-family: 'OpenSans-Bold';
}

.header__bar .bar__actions .actions__notifi, .header__bar .bar__actions .actions__people, .header__bar .bar__actions .actions__messages {
  display: inline-flex;
  align-items: center;
  padding: 30px 25px;
  border-right: 1px solid #41638a;
  color: #a2b1c9;
}

.header__bar .bar__actions .actions__notifi:hover, .header__bar .bar__actions .actions__people:hover, .header__bar .bar__actions .actions__messages:hover {
  color: #ffffff;
  cursor: pointer;
}

.header__bar .bar__actions .actions__notifi i {
  position: relative;
}

.header__bar .bar__actions .actions__notifi i::after {
  content: '1';
  font-family: 'OpenSans-Bold';
  z-index: 10;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid #4d75a3;
  background-color: #ff6161;
  border-radius: 3px;
}

.header__bar .bar__actions .actions_active {
  color: #ffffff;
}

.header__bar .bar__user {
  display: inline-flex;
  align-items: center;
}

.header__bar .bar__user .user__profile, .header__bar .bar__user .user__search, .header__bar .bar__user .user__logout {
  display: inline-flex;
  align-items: center;
  padding: 30px 25px;
  color: #a2b1c9;
}

.header__bar .bar__user .user__profile:hover, .header__bar .bar__user .user__search:hover, .header__bar .bar__user .user__logout:hover {
  color: #ffffff;
  cursor: pointer;
}

.header__bar .bar__user .user__profile {
  font-family: 'ProximaNova-Semibold';
  padding-right: 41px;
}

.header__bar .bar__user .user__profile::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid #a2b1c9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.header__bar .bar__user .user__profile:hover::after {
  border-top: 7px solid #ffffff;
}

.header__bar .bar__user .user__profile .user__profile_name {
  font-size: 14px;
  margin-right: 21px;
}

.header__bar .bar__user .user__search {
  border-right: 1px solid #41638a;
  border-left: 1px solid #41638a;
}

.header__bar .bar__user .user__profile.user_active {
  color: #ffffff;
}

.header__bar .bar__user .user__profile.user_active::after {
  border-top: 7px solid #ffffff;
}

.header__nav {
  height: 75px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.header__nav .nav__list {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
}

.header__nav .nav__list .list__item {
  margin: 0 25px;
}

.header__nav .nav__list .list__item a {
  font-family: 'OpenSans-SemiBold';
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  height: 100%;
  color: #97a4b1;
  border-bottom: 5px solid transparent;
}

.header__nav .nav__list .list__item a:hover {
  color: #4d75a3;
  border-bottom: 5px solid #4d75a3;
  font-weight: 600;
}

.user {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 50px;
  padding: 46px 50px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.user__about {
  display: inline-flex;
  align-items: center;
  border-right: 1px solid #e5e5e5;
  padding-right: 28px;
}

.user__about .about__logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user__about .about__props {
  margin-left: 20px;
}

.user__about .about__props .props_name {
  margin-bottom: 10px;
}

.user__about .about__props .props_name span {
  color: #3f4f5f;
  font-size: 24px;
  font-weight: 600;
}

.user__about .about__props .props_name span::after {
  content: '\f058';
  font-family: 'FontAwesome';
  display: inline-block;
  color: #a6bad1;
  font-size: 20px;
  margin-left: 10px;
}

.user__about .about__props .props_text p {
  color: #667a90;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.user__info {
  display: inline-flex;
}

.user__info .info__count {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.user__info .info__count .count_numbers {
  margin-bottom: 10px;
}

.user__info .info__count .count_numbers span {
  font-family: 'OpenSans-SemiBold';
  color: #4d75a3;
  font-size: 24px;
  font-weight: 600;
}

.user__info .info__count .count_text span {
  font-size: 14px;
  font-family: 'OpenSans-SemiBold';
  color: #667a90;
  font-weight: 400;
}

.user__actions {
  display: inline-flex;
  flex-direction: column;
  padding-left: 28px;
}

.user__actions .actions_send {
  border: 0;
  padding: 16px 38px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
  min-width: 201px;
  background-color: white;
  color: #4d75a3;
  border: 2px solid #4d75a3;
  font-weight: 600;
}

.user__actions .actions_send:hover {
  background-color: #4d75a3;
  color: #ffffff;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open-Sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open-Sans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open-Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/Proxima-Nova/ProximaNovaSemibold.otf") format("opentype");
}

.cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.cards .card__margin {
  margin: 0 50px;
}

.cards .card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 50px;
  color: #727272;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
}

.cards .card__header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.cards .card__header h2, .cards .card__header a {
  color: rgba(0, 0, 0, 0.47);
  font-size: 24px;
  font-weight: 300;
}

.cards .card__header a {
  font-size: 18px;
}

.cards .card__header_private {
  background-color: #4d75a3;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.cards .card__header_private .header__user {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}

.cards .card__header_private .header__user img {
  margin-right: 10px;
}

.cards .card__header_private .header__user h2 {
  color: #ffffff;
  font-size: 16px;
  font-family: 'OpenSans-SemiBold';
  margin-right: 10px;
}

.cards .card__header_private .header__user h2::after {
  content: '';
  display: inline-block;
  background-color: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 10px;
}

.cards .card__header_private .header__actions {
  display: inline-flex;
  flex-wrap: nowrap;
}

.cards .card__header_private .header__actions a {
  color: rgba(255, 255, 255, 0.65);
  margin: 0 5px;
  font-size: 14px;
}

.cards .card__messages {
  padding: 20px;
  height: 465px;
  overflow: auto;
}

.cards .card__messages .messages__divider {
  font-size: 12px;
  color: #b1b1b1;
  text-align: center;
  width: 100%;
  margin: 15px 0;
}

.cards .card__messages .messages__divider p {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0;
}

.cards .card__messages .messages__divider p span {
  margin: 0 10px;
}

.cards .card__messages .messages__divider p::before, .cards .card__messages .messages__divider p::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  position: relative;
  background-color: #b1b1b1;
}

.cards .card__messages .card__mesage_alert {
  position: relative;
}

.cards .card__messages .card__mesage_alert::before {
  content: '\f06a';
  font-family: 'FontAwesome';
  color: #ff6161;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: 10;
}

.cards .card__messages .card__mesage {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.cards .card__messages .card__mesage .message__text {
  position: relative;
  border-radius: 18px;
  color: #667a90;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 25px;
  display: inline-flex;
  max-width: 210px;
  line-height: 18px;
}

.cards .card__messages .card__mesage .message__timestamp {
  margin: 10px 0;
  color: #b1b1b1;
  font-size: 9px;
}

.cards .card__messages .card__mesage_left {
  align-items: flex-start;
}

.cards .card__messages .card__mesage_left .message__text {
  background-color: #f2f4f6;
}

.cards .card__messages .card__mesage_left .message__text::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -2px;
  display: block;
  width: 17px;
  height: 17px;
  background: url("../img/messages/tale-left.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cards .card__messages .card__mesage_right {
  align-items: flex-end;
}

.cards .card__messages .card__mesage_right .message__text {
  background-color: #ebf4fa;
}

.cards .card__messages .card__mesage_right .message__text::after {
  content: '';
  position: absolute;
  bottom: -5px;
  right: -2px;
  display: block;
  width: 17px;
  height: 17px;
  background: url("../img/messages/tale-right.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cards .card__body {
  padding: 20px 30px;
}

.cards .card__body .body__feed .feed__user {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  margin: 5px 0;
}

.cards .card__body .body__feed .feed__user .user__img {
  color: rgba(0, 0, 0, 0.37);
  width: 16px;
  margin-right: 30px;
  text-align: center;
}

.cards .card__body .body__feed .feed__user .user__name {
  font-size: 14px;
  font-weight: 400;
}

.cards .card__body .body__feed .feed__user .user__name a {
  color: #4d75a3;
}

.cards .card__body .body__feed .feed__user .user__name a:hover {
  color: #4d75a3;
}

.cards .card__body .body__feed .feed__attach {
  margin-left: 8px;
  min-height: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 38px;
  font-size: 14px;
}

.cards .card__body .body__feed .feed__attach a {
  color: #4d75a3;
}

.cards .card__body .body__feed .feed__attach a:hover {
  color: #4d75a3;
}

.cards .card__body .body__feed .feed__attach .attach__title {
  width: 100%;
  display: block;
}

.cards .card__body .body__feed .feed__attach .attach__img {
  display: flex;
  flex-flow: row wrap;
}

.cards .card__body .body__feed .feed__attach .attach__img img {
  margin: 10px 3px;
}

.cards .card__body .body__feed .feed__attach .attach__img img:first-child {
  margin-left: 0;
}

.cards .card__body .body__feed_shared {
  display: flex;
  flex-flow: column;
}

.cards .card__body .body__feed_shared .feed__attach_shared {
  border-left: none;
  display: inline-flex;
}

.cards .card__body .body__feed_shared .feed__attach_shared .attach__img_shared {
  border-left: 2px solid #4d75a3;
  padding-left: 15px;
}

.cards .card__body .body__feed_shared .feed__attach_shared .attach__img_shared img {
  margin: 0;
}

.cards .card__body .body__feed_shared .feed__attach_shared .attach__text_shared {
  margin-left: 20px;
}

.cards .card__body .body__feed_shared .feed__attach_shared .attach__text_shared a {
  display: block;
  margin-bottom: 10px;
}

.cards .card__follow {
  display: inline-flex;
  flex-direction: column;
  padding: 20px 30px;
}

.cards .card__follow .follow__user {
  width: 100%;
  padding: 10px 0;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.cards .card__follow .follow__user .user__info {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.cards .card__follow .follow__user .user__info .user__img {
  width: 50px;
  height: 50px;
  margin-right: 18px;
  border-radius: 50%;
  background-image: url("../img/users/photo.png");
  background-position: center;
  background-repeat: no-repeat;
}

.cards .card__follow .follow__user .user__info .user__img_online {
  position: relative;
}

.cards .card__follow .follow__user .user__info .user__img_online::after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #00d905;
  border: 3px solid white;
  border-radius: 50%;
}

.cards .card__follow .follow__user .user__info .user__name {
  color: #97a4b1;
  font-size: 14px;
  font-weight: 400;
  margin-right: 27px;
}

.cards .card__follow .follow__user .user__info .user__name h2 {
  color: #3f4f5f;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  font-family: 'OpenSans-SemiBold';
}

.cards .card__follow .follow__user .user__info .user__name_mobile h2::after {
  content: '\f10b';
  font-family: 'FontAwesome';
  margin-left: 10px;
  color: #97a4b1;
}

.cards .card__follow .follow__user .user__add {
  background-color: white;
  border: 1px solid #97a4b1;
  border-radius: 4px;
  color: #97a4b1;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 9px;
}

.cards .card__follow .follow__user .user__add:hover {
  background-color: #4d75a3;
  color: #ffffff;
}

.cards .card__footer {
  padding: 20px 0;
  background-color: #ebf4fa;
  text-align: center;
}

.cards .card__footer a {
  text-transform: uppercase;
  color: #7595b9;
  font-weight: 600;
  font-size: 12px;
}

.cards .card__footer a:hover {
  color: #4d75a3;
}

.cards .card__footer a::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid #a2b1c9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.cards .card__footer a:hover::after {
  border-top: 5px solid #4d75a3;
}

.cards .card__footer_private {
  border-top: 1px solid #e5e5e5;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.cards .card__footer_private input {
  border: none;
  outline: none;
  font-size: 14px;
  flex-grow: 1;
  margin: 0 10px;
}

.cards .card__footer_private .footer__icon:hover {
  cursor: pointer;
}

.chat {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  background-color: #ffffff;
}

.chat__sidebar {
  min-width: 336px;
  border-right: 1px solid #e5e5e5;
}

.chat__sidebar .sidebar__header {
  background-color: #4d75a3;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  height: 95px;
  background-color: #ffffff;
}

.chat__sidebar .sidebar__header .sidebar__header_title h2 {
  font-size: 16px;
  color: #667a90;
}

.chat__sidebar .sidebar__header .sidebar__header_actions {
  display: inline-flex;
  flex-wrap: nowrap;
}

.chat__sidebar .sidebar__header .sidebar__header_actions a {
  color: #a6bad1;
  margin: 0 5px;
  font-size: 16px;
}

.chat__main {
  flex-grow: 1;
}

.chat__main .main__header {
  background-color: #4d75a3;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.65);
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  height: 95px;
}

.chat__main .main__header .header__user {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}

.chat__main .main__header .header__user img {
  margin-right: 10px;
}

.chat__main .main__header .header__user h2 {
  color: #ffffff;
  font-size: 16px;
  font-family: 'OpenSans-SemiBold';
  margin-right: 10px;
}

.chat__main .main__header .header__user h2::after {
  content: '';
  display: inline-block;
  background-color: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 10px;
}

.chat__main .main__header .header__user .user__img {
  width: 55px;
  height: 55px;
  background-image: url("../img/users/photo.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.chat__main .main__header .header__user .user__name h2 {
  color: #3f4f5f;
  font-size: 16px;
  margin-bottom: 5px;
}

.chat__main .main__header .header__user .user__name p {
  color: #777777;
  font-size: 14px;
}

.chat__main .main__header .header__user .user__name p::before {
  content: '\f10b';
  font-family: 'FontAwesome';
  margin-right: 5px;
}

.chat__main .main__header .header__actions {
  display: inline-flex;
  flex-wrap: nowrap;
}

.chat__main .main__header .header__actions a {
  color: #a6bad1;
  margin: 0 5px;
  font-size: 16px;
}

.chat__main .main__messages {
  padding: 30px 20px;
}

.chat__main .main__messages .card__mesage {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.chat__main .main__messages .card__mesage .message__text {
  position: relative;
  border-radius: 18px;
  color: #667a90;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 25px;
  display: inline-flex;
  line-height: 18px;
}

.chat__main .main__messages .card__mesage .message__timestamp {
  margin: 10px 0;
  color: #b1b1b1;
  font-size: 9px;
}

.chat__main .main__messages .card__mesage_left {
  align-items: flex-start;
}

.chat__main .main__messages .card__mesage_left .message__text {
  background-color: #f2f4f6;
}

.chat__main .main__messages .card__mesage_left .message__text::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -2px;
  display: block;
  width: 17px;
  height: 17px;
  background: url("../img/messages/tale-left.png");
  background-repeat: no-repeat;
  background-position: center;
}

.chat__main .main__messages .card__mesage_right {
  align-items: flex-end;
}

.chat__main .main__messages .card__mesage_right .message__text {
  background-color: #ebf4fa;
}

.chat__main .main__messages .card__mesage_right .message__text::after {
  content: '';
  position: absolute;
  bottom: -5px;
  right: -2px;
  display: block;
  width: 17px;
  height: 17px;
  background: url("../img/messages/tale-right.png");
  background-repeat: no-repeat;
  background-position: center;
}

.chat__main .main__messages .message__single {
  display: inline-flex;
}

.chat__main .main__messages .message__single .message__avatar {
  margin-right: 10px;
}

.chat__main .main__messages .message__single .message__text {
  max-width: auto;
}

.chat__main .main__messages .message__single .message__text_img img {
  margin: 0 5px;
}

.chat__main .main__messages .card__mesage_left .message__single .message__avatar {
  margin-right: 10px;
}

.chat__main .main__messages .card__mesage_right .message__single .message__avatar {
  margin-left: 10px;
}

.chat__main .main__footer {
  background-color: #f2f4f6;
  border-top: 1px solid #e5e5e5;
}

.chat__main .main__footer .footer__input {
  width: 100%;
  display: inline-flex;
  padding: 24px 18px;
}

.chat__main .main__footer .footer__input .input__box {
  flex-grow: 1;
}

.chat__main .main__footer .footer__input .input__box input {
  width: 100%;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  height: 47px;
}

.chat__main .main__footer .footer__input .input__box .box__attachment {
  margin-top: 10px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.chat__main .main__footer .footer__input .input__box .box__attachment .attachment__smiles a {
  color: #a6bad1;
  font-size: 25px;
  margin-right: 7px;
}

.chat__main .main__footer .footer__input .input__box .box__attachment .attachment__smiles a:first-child {
  margin-right: 20px;
}

.chat__main .main__footer .footer__input .input__box .box__attachment .attachment__dropdown span {
  color: #2b587a;
  font-size: 14px;
  cursor: pointer;
}

.chat__main .main__footer .footer__input .input__box .box__attachment .attachment__dropdown span::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid #a2b1c9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 5px;
}

.chat__main .main__footer .footer__input .footer__button {
  border: 0;
  padding: 16px 38px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
  width: 120px;
  height: 47px;
  margin-left: 13px;
  background-color: #4d75a3;
  color: #ffffff;
  font-weight: 600;
  padding: 0;
  border: 0;
}

@media (max-width: 1200px) {
  :root {
    font-size: 18px;
  }
  .user {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .user__about {
    flex-basis: 50%;
  }
  .user__actions {
    flex-direction: row;
    padding: 0;
    margin-top: 10px;
  }
  .user__actions .actions_send {
    margin: 10px;
  }
  .cards {
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 16px;
  }
  .user {
    padding: 30px 20px;
  }
  .user__about {
    flex-basis: 100%;
    border-right: none;
    justify-content: center;
    padding: 0;
  }
  .user__info {
    flex-basis: 100%;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  .header__bar {
    flex-flow: row wrap;
    justify-content: center;
  }
  .header__bar .bar__actions .actions__logo, .header__bar .bar__actions .actions__notifi, .header__bar .bar__actions .actions__people, .header__bar .bar__actions .actions__messages {
    border: none;
  }
  .header__bar .bar__user .user__search {
    border-right: none;
    border-left: none;
  }
  .user {
    padding: 20px;
  }
  .user__info {
    display: flex;
    flex-flow: row wrap;
  }
}

@media (max-width: 520px) {
  :root {
    font-size: 12px;
  }
  .header__nav .nav__list .list__item {
    margin: 0 18px;
  }
  .header__bar .bar__actions .actions__logo, .header__bar .bar__actions .actions__notifi, .header__bar .bar__actions .actions__people, .header__bar .bar__actions .actions__messages {
    padding: 20px 18px;
  }
  .header__bar .bar__user .user__search, .header__bar .bar__user .user__logout, .header__bar .bar__user .user__profile {
    padding: 20px 18px;
  }
  .user__about {
    flex-direction: column;
  }
  .user__about .about__props {
    margin: 10px 0;
    text-align: center;
  }
  .user__actions {
    flex-direction: column;
  }
  .cards .card {
    max-width: 100%;
    width: 100%;
  }
  .cards .card__margin {
    margin: 0 0 50px 0;
  }
  .cards .card__follow .follow__user .user__info .user__img {
    margin-right: 5px;
  }
  .cards .card__follow .follow__user .user__info .user__name {
    margin-right: 10px;
  }
  .cards .card__follow .follow__user .user__info .user__name h2 {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */