@import 'reset'
@import 'vars'
@import 'mixins'

\:root
  font-size: 18px

body
    min-width: 320px
    padding: 30px 15px

h2
    font-size: 24px
    font-family: 'OpenSans-Light'

a
    text-decoration: none

.wrapper
    max-width: $max_width
    margin: 0 auto

.header
    border-radius: 8px
    color: #ffffff
    overflow: hidden 
    +card()
    margin-bottom: 50px
    &__bar
        width: 100%
        background-color: rgb(77, 117, 163)
        display: inline-flex 
        justify-content: space-between
        .bar__actions 
            +align-center()
            .actions__logo
                padding: 30px 25px
                border-right: 1px solid rgb(65, 99, 138)
                +align-center()
                &:hover
                    cursor: pointer 
                .logo_text
                    text-transform: uppercase
                    font-family: 'OpenSans-Bold'
            .actions__notifi, .actions__people, .actions__messages
                +align-center()
                padding: 30px 25px
                border-right: 1px solid rgb(65, 99, 138)
                color: rgb(162, 177, 201)
                &:hover
                    color: #ffffff
                    cursor: pointer
            .actions__notifi
                i
                    position: relative
                    &::after
                        content: '1'
                        font-family: 'OpenSans-Bold'
                        z-index: 10
                        position: absolute
                        top: -10px
                        right: -10px    
                        font-size: 9px
                        display: flex
                        align-items: center
                        justify-content: center
                        width: 16px
                        height: 16px
                        border: 1px solid rgb(77, 117, 163)
                        background-color: rgb(255, 97, 97)
                        border-radius: 3px
            .actions_active
                color: #ffffff
        .bar__user
            +align-center()
            .user__profile, .user__search, .user__logout
                +align-center()
                padding: 30px 25px
                color: rgb(162, 177, 201)
                &:hover
                    color: #ffffff
                    cursor: pointer
            .user__profile
                font-family: 'ProximaNova-Semibold'
                padding-right: 41px
                &::after
                    content: ''
                    display: inline-block
                    margin-left: 10px
                    width: 0
                    height: 0
                    border-top: 5px solid rgb(162, 177, 201)
                    border-left: 5px solid transparent
                    border-right: 5px solid transparent
                &:hover::after
                    border-top: 7px solid #ffffff
                .user__profile_name
                    font-size: 14px
                    margin-right: 21px
            .user__search
                border-right: 1px solid rgb(65, 99, 138)
                border-left: 1px solid rgb(65, 99, 138)
            .user__profile.user_active
                color: #ffffff 
                &::after  
                    border-top: 7px solid #ffffff
    &__nav 
        height: 75px
        width: 100%
        +align-center()
        justify-content: center
        background-color: #fff
        .nav__list
            display: inline-flex
            flex-flow: row wrap
            justify-content: center
            height: 100%
            .list__item
                margin: 0 25px
                a
                    font-family: 'OpenSans-SemiBold'
                    font-weight: 400
                    +align-center()
                    height: 100%
                    color: $main_text_color
                    border-bottom: 5px solid transparent
                    &:hover
                        color: $active_link_color
                        border-bottom: 5px solid $active_link_color
                        font-weight: 600

.user
    +card()
    padding: 46px 50px
    display: flex
    flex-flow: row nowrap
    width: 100%
    justify-content: space-between
    align-items: center
    margin-bottom: 50px
    &__about
        +align-center()
        border-right: 1px solid rgb(229, 229, 229)
        padding-right: 28px
        .about__logo img
            width: 100px
            height: 100px
            border-radius: 50%
        .about__props
            margin-left: 20px
            .props_name
                margin-bottom: 10px
                span
                    color: rgb(63, 79, 95)
                    font-size: 24px
                    font-weight: 600
            .props_text
                p
                    color: rgb(102, 122, 144)
                    font-size: 14px
                    font-weight: 400
                    line-height: 24px
    &__info
        display: inline-flex
        .info__count
            display: inline-flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin: 20px
            .count_numbers
                margin-bottom: 10px
                span
                    font-family: 'OpenSans-SemiBold'
                    color: rgb(77, 117, 163)
                    font-size: 24px
                    font-weight: 600
            .count_text span
                font-size: 14px
                font-family: 'OpenSans-SemiBold'
                color: rgb(102, 122, 144)
                font-weight: 400
    &__actions
        display: inline-flex
        flex-direction: column
        padding-left: 28px
        .actions_send
            +send-button()
.cards
    display: flex
    flex-flow: row wrap
    .card
        +card()
        flex-basis: 30%
        color: rgb(114, 114, 114)
        &__header 
            +card-header() 
            padding: 20px 30px
        &__body
            padding: 20px 30px
            .body__feed
                .feed__user
                    display: inline-flex
                    align-items: center
                    flex-direction: row
                    margin: 5px 0
                    .user__img
                        color: rgba(0, 0, 0, .37)
                        width: $feed_img_width
                        margin-right: 38px - ($feed_img_width/2)
                        text-align: center
                    .user__name
                        font-size: 14px
                        font-weight: 400
                        a 
                            color: rgb(77, 117, 163)
                            &:hover
                                color: #4d75a3
                .feed__attach
                    margin-left: $feed_img_width / 2
                    min-height: 15px
                    border-left: 1px solid rgba(0, 0, 0, .12)
                    padding-left: 38px
                    font-size: 14px
                    a 
                        color: rgb(77, 117, 163)
                        &:hover
                            color: #4d75a3
                    .attach__title
                        width: 100%
                        display: block
                    .attach__img
                        +align-center()
                        flex-direction: row
                        img
                            margin: 10px 3px
                            &:first-child
                                margin-left: 0 
                .feed__attach_shared
                    border-left:  none
                    display: inline-flex
                    .attach__img_shared 
                        border-left: 2px solid rgb(77, 117, 163)
                        padding-left: 15px
                        img 
                            margin: 0
                    .attach__text_shared
                        margin-left: 20px
                        a
                            display: block
                            margin-bottom: 10px

        &__footer 
            +card-footer()
    
  
 
  
@import 'media'  