@media (max-width: 1200px)
	\:root
		font-size: 18px
	.user
		flex-flow: row wrap
		align-items: center
		justify-content: center
		&__about
			flex-basis: 50%
		&__actions
			flex-direction: row
			padding: 0
			margin-top: 10px
			.actions_send
				margin: 10px
	.cards
		flex-flow: row wrap
		justify-content: center
@media (max-width: 992px)
	\:root
		font-size: 16px
	.user
		padding: 30px 20px
		&__about
			flex-basis: 100%
			border-right: none
			justify-content: center 
			padding: 0
		&__info
			flex-basis: 100%
			justify-content: center
@media (max-width: 768px)
	\:root
		font-size: 14px
	.header
		&__bar
			flex-flow: row wrap
			justify-content: center
			.bar__actions
				.actions__logo, .actions__notifi, .actions__people, .actions__messages
					border: none
			.bar__user
				.user__search
					border-right: none
					border-left: none
	.user
		padding: 20px
		&__about
		&__info
			display: flex
			flex-flow: row wrap
	.chat
		.chat__sidebar
			display: none
@media (max-width: 520px)
	\:root
		font-size: 12px
	.header
		&__nav
			.nav__list 
				.list__item
					margin: 0 18px
		&__bar
			.bar__actions
				.actions__logo, .actions__notifi, .actions__people, .actions__messages
					padding: 20px 18px
			.bar__user
				.user__search, .user__logout, .user__profile
					padding: 20px 18px
	.user
		&__about
			flex-direction: column
			.about__props
				margin: 10px 0
				text-align: center
		&__info
		&__actions
			flex-direction: column
	.cards
		.card
			max-width: 100%
			width: 100%
		.card__margin
			margin: 0 0 50px 0
		.card__follow
			.follow__user 
				.user__info 
					.user__img
						margin-right: 5px
					.user__name 
						margin-right: 10px
						h2
							font-size: 14px