=align-center()
    display: inline-flex
    align-items: center

=buttons-reset()
    border: 0
    padding: 16px 38px
    margin-bottom: 10px
    border-radius: 6px
    cursor: pointer
    white-space: nowrap

=send-button()
    +buttons-reset()
    min-width: 201px
    background-color: white
    color: rgb(77, 117, 163)
    border: 2px solid rgb(77, 117, 163)
    font-weight: 600
    &:hover
        background-color: rgb(77, 117, 163)
        color: #ffffff

=ellipsis()
    max-width: 200px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap