=align-center()
    display: inline-flex
    align-items: center

=buttons-reset()
    border: 0
    padding: 16px 38px
    margin-bottom: 10px
    border-radius: 6px
    cursor: pointer
    white-space: nowrap

=send-button()
    +buttons-reset()
    min-width: 201px
    background-color: white
    color: rgb(77, 117, 163)
    border: 2px solid rgb(77, 117, 163)
    font-weight: 600
    &:hover
        background-color: rgb(77, 117, 163)
        color: #ffffff

=ellipsis()
    max-width: 150px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

=card()
    background-color: #ffffff
    border-radius: 8px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    overflow: hidden

=card-header()
    width: 100%
    display: inline-flex
    align-items: center
    justify-content: space-between
    h2, a
        color: rgba(0, 0, 0, .47)
        font-size: 24px
        font-weight: 300
    a 
        font-size: 18px

=card-footer()
    padding: 20px 0
    background-color: rgb(235, 244, 250)
    text-align: center
    a
        text-transform: uppercase
        color: rgb(117, 149, 185)
        font-weight: 600
        font-size: 12px
        &:hover
            color: #4d75a3
        &::after
            content: ''
            display: inline-block
            margin-left: 10px
            width: 0
            height: 0
            border-top: 5px solid rgb(162, 177, 201)
            border-left: 5px solid transparent
            border-right: 5px solid transparent
        &:hover::after
            border-top: 5px solid #4d75a3

